*{
    padding: 0;
    margin: 0;
    font-family: inherit;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

.home-container{
    min-height: 100dvh;
    background-color: #373A40;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

header{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DC5F00;
    position: fixed;
    width: 97dvw;
}

.center-head-child ul{
    list-style-type: none;
    display: inline-flex;
    gap:15px;
}

.posts-container{
    background-color: #686D76;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;  
    gap:20px;
    padding: 10px;
    border-radius: 5px;
    padding-top: 70px;
}

.post-card{
    box-sizing: border-box;
    padding: 20px 10px;
    background-color: #EEEEEE;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: start;
    font-family: "Montserrat";
}

.post-stats{
    display: flex;
    width: 100%;
    gap:10px;
}

.post-buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.post-buttons button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    cursor: pointer;
    transition: .5s;
    gap: 10px;
    font-size: 1.2em;
    border: 1px solid #686D76;
}

.post-buttons button:hover,.liked{
    background-color: #DC5F00;
    border-color: #DC5F00;
}



